body,
html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;

}
.container{
    background: linear-gradient(135deg,#8a2be2,#4169e1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
.content{
    text-align: center;
    background-color: rgb(255,255,255,0.9);
    padding: 2rem;
    border-radius: 12px;
    max-width: 400px;
    
}
.logo{
   width: 200px;
   
   object-fit: contain;
}
.h1{
    color: #333;
    margin-bottom: 0.5rem;
}
p{
    color: #666;
    margin-bottom: 0.5rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input[type="email"]{
    padding: 0.5rem;
    border:none;

}
button{
    padding: 0.5rem;
    background-color: #8a2be2;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.9 ease-in-out;

}
button:hover{
    background-color: #7a1dd1;

}
input[type="password"]{
    padding: 0.5rem;
    border:none;
}